.about-section-container-text {
  line-height: 1.161em;
}

.about-section-container-paragraph {
  line-height: 1.667em;
}

.about-section-2-img {
  top: 206px;
  left: -15px;
}

.available-in-container {
  display: grid;
  grid-template-columns: auto auto;
}

.about-us-animation {
  opacity: 0;
}
