.mission-section-container-text {
  line-height: 1.161em;
}

.mission-section-container-paragraph {
  line-height: 1.667em;
}

.mission-section-2-img {
  top: 206px;
  left: -15px;
}

.our-mission-animation {
  opacity: 0;
}
