.journey-section-container-text {
  line-height: 1.161em;
}

.journey-section-container-paragraph {
  line-height: 1.667em;
}

.our-journey-sticky-section {
  top: 150px;
  max-height: calc(100vh - 110px);
}

.our-journey-section-container-1 {
  opacity: 0;
}

.our-journey-section-container-2 {
  opacity: 0;
}

.our-journey-section-container-3 {
  opacity: 0;
}

.our-journey-section-container-4 {
  opacity: 0;
}
