.stats-section-main-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.stats-section-container-1 {
  opacity: 0;
}

.stats-section-container-2 {
  opacity: 0;
}

.stats-section-container-3 {
  opacity: 0;
}

.stats-section-container-4 {
  opacity: 0;
}
