.customBoxShadow {
  box-shadow: 0 3px 12px rgba(18, 18, 18, 0.06);
}

.customHeroSectionBoxShadow2 {
  box-shadow: 0 14px 42px 0 rgba(16, 16, 16, 0.14);
}

.customJourneySectionBoxShadow {
  box-shadow: 0 2px 12px 0 rgba(16, 16, 16, 0.08);
}

