.text-lg {
  font-size: 18px;
}

.text-62 {
  font-size: 62px;
}

.text-56 {
  font-size: 56px;
}

.text-56 {
  font-size: 56px;
}

.text-22 {
  font-size: 22px;
}

.text-28 {
  font-size: 28px;
}

.text-20 {
  font-size: 20px;
}
